<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Liste des cotisations</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(cotisations)}">
			<h2>Liste des cotisations</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Statut</th>
					<th>Date</th>
					<th>Montant</th>
					<th>Expiration</th>
					<th>Nom étudiant</th>
					<th>Caisse</th>
					<th>Periode</th>
					<th>Justificatif</th>

					<th>-</th>
					<th>-</th>
					<th>-</th>
				</tr>
				<tr th:each="cotisation : ${cotisations}">
					<td th:text="${cotisation.id}"><a
						href="/cotisation/${cotisation.id}">Id</a></td>
					<td th:text="${cotisation.approved}">Statut</td>
					<td th:text="${cotisation.date}">Date</td>
					<td th:text="${cotisation.montant}">Montant</td>
					<td th:text="${cotisation.expiration}">Expiration</td>
					<td th:text="${cotisation.etudiant}">Prénom étudiant</td>
					<td th:text="${cotisation.caisse}">ID Caisse</td>
					<td th:text="${cotisation.periode}">Periode</td>
					<td th:text="${cotisation.justificatif}">Justificatif</td>
					
					
					<td><a th:href="${ '/cotisation/' + cotisation.id}">Voir</a></td>
					<td><a th:href="${'/cotisation/edit/' + cotisation.id}">Editer</a></td>
					<td><a th:href="${'/cotisation/delete/' + cotisation.id}">Supprimer</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>