<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Boot Exemple</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<h2>Etudiant Details</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Etudiant Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${etudiant.sexe}">Etudiant
							Id</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Etablissement:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${etudiant.etablissement}">etablissement</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Filiere:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${etudiant.filiere}">Filiere</p>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>