<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liste des etudiants</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(etudiants)}">
			<h2>Liste des etudiants</h2>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Etablissement</th>
					<th>Filiere</th>
					<th>Téléphone</th>
					<th>Pays d'origine</th>
					<th>Genre</th>
					<th>Ville</th>
					<th>Date d'inscription</th>
					<th>Filière</th>
					
					<th>-</th>
					<th>-</th>
					<th>-</th>
				</tr>
				<tr th:each="etudiant : ${etudiants}">
					<td th:text="${etudiant.id}">Id Etudiant</td>
					<td th:text="${etudiant.email}">Email</td>
					<td th:text="${etudiant.nom}">Nom</td>
					<td th:text="${etudiant.prenom}">Prénom</td>
					<td th:text="${etudiant.etablissement}">Etablissement</td>
					<td th:text="${etudiant.filiere}">Filière</td>
					<td th:text="${etudiant.telephone}">Téléphone</td>
					<td th:text="${etudiant.paysOrigine}">Pays d'origine</td>
					<td th:text="${etudiant.sexe}">Genre</td>
					<td th:text="${etudiant.ville}">Ville</td>
					<td th:text="${etudiant.dateInscription}">Date d'inscription</td>
					<td th:text="${etudiant.filiere}">filiere</td>
					
					<td><a th:href="${ '/etudiant/' + etudiant.id}">Voir</a></td>
					<td><a th:href="${'/etudiant/edit/' + etudiant.id}">Editer</a></td>
					<td><a th:href="${'/etudiant/delete/' + etudiant.id}">Supprimer</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>